@page
@{ 
    ViewData["Title"] = "Error";
}

<h2>There was a problem with generating report, please contact system administrator</h2>
<a asp-page="./List" class="btn btn-primary">See All Appointments</a>